<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Flight</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div style="height:450px; margin-top:50px; display:flex; align-items:center; justify-content:center;">
            <div style="position:absolute; top:0;"> 
                <h1 >Add a Flight</h1>
                {% if message %}
                <div style="display:flex; align-items:center; justify-content:center;" class="alert alert-danger">{{message}}</div>
                {% endif %}
            </div>
            <br>
            <form action="{% url 'addFlight' %}" method="post">
                {% csrf_token %}
                Departure:
                <select name="departure">
                    {% for departure in departures %} 
                        <option value="{{departure}}">{{departure}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                Arrival:
                <select name="destination">
                    {% for destination in destinations %}
                        <option value="{{destination}}">{{destination}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                Duration:
                <input required min="1" name="duration" type="number">
                <br>
                <br>
                <input type="submit">
            </form>
            <a style="position:relative; margin-top:200px;" href="{% url 'index' %}">Back</a>
        </div>
    </body>
</html>