<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flights</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Flights</h1>
        <br>
        <br>
        <ul>
            {% for flight in flights %} 
                <a style="text-decoration:none; color:black;" href="{% url 'flight' flightId=flight.id %}"><pytli>{{flight}}</li></a>
                <br>
            {% endfor %}
        </ul>
    
    <a class="btn btn-primary" style="margin-top:40px" href="{% url 'addFlight' %}">Add Flight</a>
    </body>
</html>